.preferiti,.lista{
    font-size: 1.1em;
    margin-bottom: 10px;
    border-radius: 15px;
}

#link{
    display: flex;
    justify-content: center;
    padding:20px;
    align-items: center;
   
}

#stella{
    width:3.5%;
    margin-left: 10px;
}

#libreria{
    width:5%;
}

.hidden{
    display:none;

}

.attivo{
    display:block;
}

#bottoni{
    display: flex;
    justify-content: center;
    cursor: pointer; 


}
#bottoni a{
    margin:10px;
    font-size: 2em;
}


#elenco_giochi div,#ricerca_giochi div,#giochi_preferiti div,#giochi_libreria div{
    width: 25%;
    background-color:#dcdcdc;
    border: 1px solid #dcdcdc;
    align-items: center;
    display:flex;
    flex-direction: column;
    margin:15px;
}


#elenco_giochi,#ricerca_giochi,#giochi_preferiti, #giochi_libreria{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#elenco_giochi div img,#ricerca_giochi div img,#giochi_preferiti div img,#giochi_libreria div img{
    height: 220px ;
    width:100%;
}


#elenco_giochi h1,#ricerca_giochi h1,#giochi_preferiti h1,#giochi_libreria h1{
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
}




#elenco_giochi div div,#ricerca_giochi div div{
display: flex;
justify-content: center;
width: auto;
}

#ricerca_giochi div p,#elenco_giochi div p{
font-size: 1.4em;
text-align: center;
}



#console,#genere,#submit{
    font-size: 0.7em;
    margin-right: 25px;
    border-radius: 15px;    
    margin-left:10px;
}


header{
    background-image: url("../immagini/background.jpg");
    height: 500px;
    background-repeat:no-repeat ;
    background-size: cover;
    
    font-size: 15px;
    line-height: normal;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titoloPagina{
 width: 15%;
}

#linkLibreria,#linkPreferiti{
    color: #1d4aa8;
    font-size: 3em;
    cursor: pointer;
}


#menu a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2em;
    margin:20px;
    color:rgb(246 245 0);
    line-height: 3em;
    cursor: pointer; 
}

#home:hover{
    color:blueviolet;
}

#cerca:hover{
    color:green;
}
#shop:hover{
    color:#00f6fd;;
}

#preferiti:hover{
    color:red;
}

#logout:hover{
    color:hotpink;
}


nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}


#intestazione{

    display:flex;
    justify-content: space-between;
    
}

nav h1{
    margin:0px;
    color:white;
    font-size: 4em;
    text-align: center;
  }

#titolo{
    color: #1d4aa8;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding:10px;
}

#titoloCercaGiochi,#titoloPreferiti,#titoloShop{
    color: #1d4aa8;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    padding:10px;
}

#titolo h1,#titoloCercaGiochi h1,#titoloPreferiti h1,#titoloShop h1{
    text-align: center;
    
}


#form{
    display: flex;
   
    flex-wrap: wrap;
    align-items: center;
    font-size: 2em;
    justify-content: center;
}

label{
    margin:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    width:10%;
}

section{
    background-image: url(../immagini/background1.jpg);
    background-position: center;
    text-align: center;
}



footer{
    background-color: black;
    color: white;
    background-image: url(../immagini/sfondo_footer.jpg);
    background-repeat:no-repeat ;
    background-position: center;
    height: 120px;
    padding: 50px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
}


footer p{
    font-size: 1.3em;
    margin:0;
}

#comprimi {
    display: none;
}

body{
    margin:0px;
    font-family: caveat;
}


  
#comprimi div {
    width: 22px;
    height: 2px;
    background-color: rgb(230, 220, 213);
    margin: 5px 0;
}


form{
    margin:25px;
}




@media(max-width:1160px){
 
    #elenco_giochi div img, #ricerca_giochi div img, #giochi_preferiti div img ,#giochi_libreria div img{
    height: 180px;
    width: 100%;
    }

    #elenco_giochi div p, #ricerca_giochi div p {
    margin: 10px;
    }

    
    header {
    height: 370px;
    background-position: center;
    }

    footer {
        padding:10px;
        height:100px;
    }

    #libreria{
        width:6%;
    }
}



@media (max-width: 1090px) {
    #elenco_giochi div img,#ricerca_giochi div img,#giochi_preferiti div img,#giochi_libreria div img{
        height: 160px ;
        
    }

    #intestazione{
        flex-direction: column;
        align-items: center;
    }
    nav h1{
        margin:0px;
        font-size: 3em;
    }
}

@media (max-width: 950px) {

    #elenco_giochi div img,#ricerca_giochi div img,#giochi_preferiti div img,#giochi_libreria div img{
        height: 140px ;
        
    }
    nav h1{
        font-size: 2.8em;
    }
    #titoloPagina{
        width: 20%;
    }

    select option{
        font-size: 0.8rem;
    }

    #stella{
        width:5%;
    }
    #libreria{
        width:7%;
    }

}



@media (max-width: 860px) {
    footer {
        background-size: cover;
    }

    #link a{
        font-size: 2.5em;
    }

    nav h1{
        font-size: 2.5em;
    }

    #elenco_giochi div, #ricerca_giochi div,#giochi_preferiti div,#giochi_libreria div{
        width:40%;
    }

    #elenco_giochi div img, #ricerca_giochi div img ,#giochi_preferiti div img,#giochi_libreria div img{
        height: 180px;
    }
    #ricerca_giochi div p, #elenco_giochi div p {
        font-size: 1.3em;
        margin:10px;
    }
    #elenco_giochi h1, #ricerca_giochi h1,#giochi_preferiti h1 ,#giochi_libreria h1{
        font-size: 1.3em;
        
    }

    #titoloPagina{
        width: 25%;
    }
}

@media (max-width: 750px) {
    #libreria{
        width:8%;
    }
}
@media (max-width: 700px) {
    #elenco_giochi div img, #ricerca_giochi div img ,#giochi_preferiti div img,#giochi_libreria div img{
        height: 160px;
    }


}

@media (max-width: 660px) {

    #stella{
        width:6%;
    }

    #libreria{
        width:9%;
    }

    #linkLibreria,#linkPreferiti{
        font-size: 2em;
    }

    #menu a{
        margin:20px;
        font-size: 1.4em;
    }

    nav h1{
        font-size: 2em;
    }

    #titolo h1,#titoloCercaGiochi h1,#titoloPreferiti h1,#titoloShop h1{
        font-size:1em;
    }
    #elenco_giochi h1, #ricerca_giochi h1,#giochi_preferiti h1,#giochi_libreria h1 {
        font-size: 1.1em;
        
    }

    header {
        height: 320px;
    }
    #form{
        margin:0px;
        font-size: 1.5em
    }

    #elenco_giochi div img, #ricerca_giochi div img ,#giochi_preferiti div img,#giochi_libreria div img{
        height: 150px;
    }
}

@media (max-width: 530px) {

    #elenco_giochi ,#ricerca_giochi,#giochi_preferiti,#giochi_libreria{
        flex-direction: column;
        
    }
    #link a {
        font-size: 2.2em;
    }
    #stella{
        width:7%;
    }

    #libreria{
        width:10%;
    }

    #elenco_giochi div, #ricerca_giochi div,#giochi_preferiti div,#giochi_libreria div{
        width:75%;
    }
    #elenco_giochi div img, #ricerca_giochi div img ,#giochi_preferiti div img,#giochi_libreria div img{
        height: auto;
    }

    nav{
        padding:10px;
    }
    nav h1{
        font-size: 1.7em;
    }

    #titolo h1,#titoloCercaGiochi h1,#titoloPreferiti h1,#titoloShop h1{
        font-size:0.8em;
    }
    header {
        height: 240px;
    }

    #menu a {
        margin: 10px;

    }

    #titoloPagina{
        width:25%;
        margin-top: -7px;
    }

}




@media (max-width: 455px) {
    
    #link a {
        font-size: 2em;
    }
    #titoloPagina{
        width:27%;
        
    }

    header {
        height: 225px;
    }
    #titolo h1,#titoloCercaGiochi h1,#titoloPreferiti h1,#titoloShop h1{
        font-size:0.7em;
    }
    
    nav h1{
        font-size:1.5em;
    }

    #form{
        flex-direction: column;
    }
    #menu a {
        margin: 5px;

    }

    #console,#genere,#submit{
        margin-right: 0px;
        margin-left:0px;
        
    }
    #ricerca_giochi div p, #elenco_giochi div p {
        font-size: 1.5em;
    }
}


@media (max-width: 390px) {

    #stella {
        width:8%;   
    }

    #libreria{
        width:13%;  
    }


    #linkLibreria,#linkPreferiti{
        font-size: 1.5em;
    }

    nav h1{
        font-size:1.3em;
    }
    #titolo h1,#titoloCercaGiochi h1,#titoloPreferiti h1,#titoloShop h1{
        font-size:0.6em;
    }

    #menu a{
        margin:7px;
        font-size: 1em;
    }

    nav{
        padding:0px;
    }

    header {
        height: 215px;
    }
    #titoloPagina {
        width: 35%;
        margin-top: 5px;
    }
}

@media (max-width: 370px) {


    #libreria{
        width:13%;  
    }
}

@media (max-width: 295px) {

    nav h1 {
        font-size: 1.5em;
    }

    #stella{
        width:9%;
    }

    #menu a{
        
        font-size: 0.9em;
    }

    #ricerca_giochi div p, #elenco_giochi div p {
        font-size: 1.4em;
    } 

    
    #libreria{
        width:17%;  
    }
}

